
.nav-menu {
  background-color: #AB9696;
  width: 40vh;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 0.95;
  transition: 850ms;
  z-index: 500;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 0px 15px 2px #000000;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.opacity-container.active{
background-color:black;
opacity:0.8;
transition: 350ms;
}
.opacity-container{
  position: -webkit-sticky;
position: fixed;
top: 0rem;
z-index:100;
width:100%;
height:80rem;
background-color:transparent;
opacity:1;
}
