@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

body {
  margin: 0;
  padding-top: 0;
  margin-top: 0;
  color: #000;
  background-color: black;
  font-family: 'Cardo', serif;
}
